<div class="head">
  <div class="box">
    <div class="logo">流云后台管理</div>
    <div class="user_info">你好，admin&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/admins/exit_admins">退出</a></div>
    <div class="nav">
      <ul>
        <li><a href="/index">用户列表</a></li>
        <li><a href="/messages/send_messaging">短信群发</a></li>
        <li><a  class="hover">广告</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="main">
  <div class="box">
    <div class="data_body">
      <div class="message_box">
        <div class="messBox_body">
          <h2 class="h2 ad">请插入广告代码</h2>
          <textarea name="" cols="" id="advert_content"></textarea>
        </div>
        <div class="messBox_btn"><button  onclick="return advert_fabu()">确定</button></div>
      </div>
    </div>
  </div>
</div>
<div class="foot"><p>Copyright © 2013 流云 版权所有</p></div>
