<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>流云</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    <script src="/assets/jQuery-v1.9.0.js"></script>
    <script src="/assets/main.js"></script>
    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
  </head>
  <body>
    <div class="head">
      <div class="box">
        <div class="logo">流云</div>
        <div class="rainbow"><img src="/assets/rainbow.png"/></div>
      </div>
    </div>
    <div class="main">
      <div class="box">
        <div class="install">
          <h1>Android</h1>
          <p class="install_p">Android 用户点击:<a href="/admins/download_apk"  style="text-decoration:underline">下载apk </a> 安装即可使用</p>
        </div>
        <div class="install">
          <h1>IOS</h1>
          <p class="install_p">Ios用户点击: <a href="#" style="text-decoration:underline">安装程序</a> 即可安装使用</p>
        </div>
      </div>
    </div>
    <div class="foot"><p>Copyright © 2013 流云 版权所有</p></div>
  </body>
</html>
